[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.3"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl"]
# Which actions to run on pull requests
pr-run-mode = "plan"

[dist.github-custom-runners]
global = "ubuntu-latest"

[dist.github-custom-runners.x86_64-apple-darwin]
runner = "ubuntu-latest"

[dist.github-custom-runners.x86_64-unknown-linux-gnu]
runner = "ubuntu-latest"

[dist.github-custom-runners.x86_64-unknown-linux-musl]
runner = "ubuntu-latest"

[dist.github-custom-runners.x86_64-pc-windows-msvc]
runner = "ubuntu-latest"
